.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #ff318c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 25;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-radius: 25;
    -fx-padding: 10px;
}
