.card-container {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 50, 0.5, 0, 5);
}
/*Main label*/
.main-label {
    -fx-font-family: 'Poppins';
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
/*main-para*/
.main-para {
    -fx-font-family: 'Poppins';
    -fx-font-size: 18px;
    -fx-text-fill: black;
}